<?php ?>
<button type="submit"
        title="Contact for sale price"
        class="action primary tocart"
        id="product-contactforsaleprice-button" disabled>
    <span>Contact for sale price</span>
</button>
