<?php ?>

<h3>Profile</h3>
<img width="300px" src="/new-prjct/pub/media/0d413f71e5499ecd15f5e84cf7bdf1ee.jpg" />
<p>
    <b>Name:</b> Tuan Anh
</p>
<p>
    <b>Age:</b> 23
</p>
<p>
    <b>Date of birth:</b> 30/10/1997
</p>
<p>
    <b>info:</b> nothing
</p>