<?php
/**
 * @var Bss\HelloWorld\Block\Link $block
 */
?>
<h4>Quick Menu</h4>
<ul class="footer-link">
    <?php foreach($block->getLinks() as $link): ?>
        <li>
            <a href="<?= $link['path'] ?>"><?= $link['title'] ?></a>
        </li>
    <?php endforeach; ?>
</ul>
