<?php
/**
 * @var Bss\HelloWorld\Block\Video $block
 */
?>
<h4>Watch Video</h4>
<iframe width="100%" src="<?= $block->getVideo() ?>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
