<?php
/**
 * @var Bss\HelloWorld\Block\SaleList $block
 */
$collection = $block->getProductCollection();
$imageDisplayArea = 'category_page_grid';
$helper = $this->helper(Magento\Catalog\Helper\Output::class);
?>
<div class="block widget block-products-list grid">
    <div class="block-content">
        <!-- new_products_content_widget_grid-->
        <div class="products-grid grid">
            <ol class="product-items widget-product-grid">
                <?php foreach ($collection as $product) :?>
                <li class="product-item">
                    <div class="product-item-info">
                        <a href="<?= /* @noEscape */ $product->getProductUrl() ?>" class="product-item-photo">
                            <span class="product-image-container" style="width:240px;">
                                <span class="product-image-wrapper" style="padding-bottom: 125%;">
                                    <img class="product-image-photo" src="<?= /* @noEscape */ $this->helper('Magento\Catalog\Helper\Image')
                                        ->init($product, $imageDisplayArea)
                                        ->constrainOnly(true)
                                        ->keepAspectRatio(true)
                                        ->keepTransparency(true)
                                        ->keepFrame(false)->getUrl(); ?>" max-width="240" max-height="300" alt="Fusion Backpack"></span>
                            </span>
                        </a>
                        <div class="product-item-details">
                            <strong class="product-item-name">
                                <a title="Fusion Backpack" href="<?= /* @noEscape */ $product->getProductUrl() ?>" class="product-item-link">
                                    <?= /* @noEscape */ $product->getName() ?>
                                </a>
                            </strong>
                            <div class="product-reviews-summary short">
                                <div class="rating-summary">
                                    <span class="label"><span>Rating:</span></span>
                                    <div class="rating-result" title="67%">
                                        <span style="width:67%"><span>67%</span></span>
                                    </div>
                                </div>
                                <div class="reviews-actions">
                                    <a class="action view" href="#">3&nbsp;<span>Reviews</span></a>
                                </div>
                            </div>

                            <div class="price-box price-final_price" data-role="priceBox" data-product-id="6" data-price-box="product-id-6">
                                <span class="price-container price-final_price tax weee">
                                     <span id="old-price-6-widget-product-grid" data-price-amount="59" data-price-type="finalPrice" class="price-wrapper ">
                                         <span class="price"><?= /* @noEscape */ $product->getPrice() ?></span>
                                     </span>
                                </span>

                            </div>

                            <div class="product-item-inner">
                                <div class="product-item-actions">
                                    <div class="actions-primary">
                                        <form data-role="tocart-form" data-product-sku="24-MB02" action="#" method="post">
                                            <input type="hidden" name="product" value="6">
                                            <input type="hidden" name="uenc" value="">
                                            <input name="form_key" type="hidden" value="LQAAqzi2OLKYFu1e">
                                            <button type="submit" title="Add to Cart" class="action tocart primary">
                                                <span>Add to Cart</span>
                                            </button>
                                        </form>
                                    </div>
                                    <div class="actions-secondary" data-role="add-to-links">
                                        <a href="#" data-post="{&quot;action&quot;:&quot;http:\/\/localhost\/new-prjct\/wishlist\/index\/add\/&quot;,&quot;data&quot;:{&quot;product&quot;:6,&quot;uenc&quot;:&quot;aHR0cDovL2xvY2FsaG9zdC9uZXctcHJqY3QvZ2Vhci5odG1s&quot;}}" class="action towishlist" data-action="add-to-wishlist" title="Add to Wish List">
                                            <span>Add to Wish List</span>
                                        </a>
                                        <a href="#" class="action tocompare" data-post="{&quot;action&quot;:&quot;http:\/\/localhost\/new-prjct\/catalog\/product_compare\/add\/&quot;,&quot;data&quot;:{&quot;product&quot;:&quot;6&quot;,&quot;uenc&quot;:&quot;aHR0cDovL2xvY2FsaG9zdC9uZXctcHJqY3QvZ2Vhci5odG1s&quot;}}" title="Add to Compare">
                                            <span>Add to Compare</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <?php endforeach; ?>
            </ol>
        </div>
    </div>
</div>