<?php
/**
 * @var \Magento\Framework\View\Element\Template $block
 */
?>

<div class="search-dropdown">
    <div class="dropdown-icon" id="search_icon" onclick="openSearchDropdown()">
        <img src="/pub/media/training/images/search.png" width="24px">
    </div>
    <div class="search-dropdown-content" id="search_dropdown">
        <?php echo $block->getChildHtml('topSearch'); ?>
    </div>
</div>

<script>
    function openSearchDropdown() {
        var x = document.getElementById("search_dropdown");
        if (x.style.display === "block") {
            x.style.display = "none";
        } else {
            x.style.display = "block";
        }
    }
</script>