<?php
/**
 * @var \Magento\Framework\View\Element\Template $block
 */
?>

<div class="user-dropdown">
    <div class="dropdown-icon" id="user_icon" onclick="openUserDropdown()">
        <img src="/pub/media/training/images/user.png" width="24px">
    </div>
    <div class="user-dropdown-content" id="user_dropdown">
        <?php echo $block->getChildHtml('header.panel'); ?>
    </div>
    <?php echo $block->getChildHtml('currency'); ?>
</div>

<script>
    function openUserDropdown() {
        var x = document.getElementById("user_dropdown");
        if (x.style.display === "block") {
            x.style.display = "none";
        } else {
            x.style.display = "block";
        }
    }
</script>