.page-footer {
    background-color: #333333;
}

.content {
    display: flex;
    color: #bbb;
}

.content h4 {
    color: #fff;
}

.footer.content .block {
    float: none;
}

.footer-left,
.footer-center,
.footer-right {
    flex: 4;
    margin: 0 2rem;
}

.block.newsletter {
    max-width: 100%;
}

.recent-podcast {
    width: 100%;
}

.recent-podcast-item {
    width: 100%;
    display: flex;
    margin-bottom: 2rem;
}

.recent-podcast-item img {
    max-width:  25%;
    border-radius: 5px;
}

.recent-podcast-item p {
    margin: 0 2rem;
}

.footer-link {
    columns: 2;
}

.footer-link li {
    margin-bottom: 1rem !important;
}

.footer-link li a {
    color: #bbb;
}

.footer-social li {
    display: inline-block;
    margin-right: 1rem !important;
}

.footer-social a {
    color: #bbb;
}

.footer-social img {
    width: 24px;
    height: 24px;
}

.copyright {
    background-color: #333333;
}

.subscribe {
    background-color: #f23b2d !important;
    border: #f23b2d !important;
}

.block.newsletter input {
    background-color: #333333;
    color: #fff;
}

.block.newsletter input ::placeholder {
    color: #bbb;
    opacity: 1;
}

.page-header{
    background-color: #000000;
    margin-bottom: 10px;
}

.logo {
    float: none;
}

.header-icon-navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
}

.dropbtn {
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.search-dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
    top: 26px;
    right: 0;
}

.search-dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.search-dropdown {
    margin: 10px;
    padding-top: 5px;
    position: relative;
}

.block-search input {
    margin: 0;
    padding-right: 35px;
    position: static;
}

.block-search .control {
    border-top: 0;
    margin: 0;
    padding: 0;
}

.block-search .label {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

@media (max-width: 767px){
    .block-search input{
        min-width: 50vw;
    }
    .minicart-wrapper {
         margin-top: 0;
    }
}

.user-dropdown{
    display: none;
}

@media (min-width: 768px){
    .logo {
        margin: 0;
    }
    .navigation{
        background: #000000;
    }
    .nav-sections {
         margin-bottom: 0;
    }
    .user-dropdown-content {
        display: none;
        position: absolute;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1000;
        top: 35px;
        right: 0;
        min-width: 200px;
    }

    .user-dropdown {
        display: flex;
        flex-direction: row;
        margin: 10px;
        padding-top: 5px;
        position: relative;
    }

    .header.panel > .header.links {
        float: none;
    }

    .header.panel > .header.links > .authorization-link:after {
        display: none;
    }

    .page-header .header.panel {
        background: #000;
    }

    .header.panel > .header.links > li > a {
        display: block;
        line-height: 2;
    }
}

.header.content {
    display: flex;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}