<?php
/**
 * @var \Magento\Framework\View\Element\Template $block
 */
?>
<form class="form" action="<?= $block->getUrl('internship/add/add'); ?>" method="post">

    <fieldset class="fieldset">
        <legend class="legend"><span><?= 'Test Form' ?></span></legend><br>
        <div class="field required">
            <label for="number" class="label">
                <span><?= 'Input' ?></span>
            </label>

            <div class="control">
                <input type="text" id="name" name="name" class="input-text">
                <input type="text" id="avatar" name="avatar" class="input-text">
                <input type="date" id="dob" name="dob">
                <input type="text" id="description" name="description" class="input-text">
            </div>
        </div>
    </fieldset>

    <div class="actions-toolbar">
        <div class="primary">
            <button type="submit" class="action submit primary" title="<?= 'Submit' ?>">
                <span><?= 'Submit' ?></span>
            </button>
        </div>
    </div>

</form>