<?php
/**
 * @var \Bss\Internship\Block\Index $block
 */
$collection = $block->getInternshipCollection();
$imageDisplayArea = 'category_page_grid';
$helper = $this->helper(Magento\Catalog\Helper\Output::class);
?>

<div class="owl-carousel owl-theme"
     data-mage-init='{"Bss_Internship/js/list":{
        "loop":true,
        "items":4,
        "dots":true,
        "autoplay":true,
        "autoplayTimeout":3000 }}'>
    <?php foreach ($collection as $internship) :?>
        <div style="overflow: hidden; padding: 5px">
            <p>Name: <?= $internship->getName() ?></p>
            <p>Avatar: <?= $internship->getAvatar() ?></p>
            <p>Dob: <?= $internship->getDob() ?></p>
            <p>Des: <?= $internship->getDescription() ?></p>
        </div>
    <?php endforeach; ?>
</div>
