<?php
/**
 * @var \Magento\Framework\View\Element\Template $block
 */
?>
<div id="popup-modal"></div>
<script type="text/x-magento-init">
{
    "#popup-modal": {
        "Bss_Internship/js/add-to-cart-popup": {
            "url": "<?= $block->getUrl('internship/getsubtotal/index') ?>"
        }
    }
}
</script>