<?php
use Magento\Framework\View\Element\Template;

/** @var Template $block */
?>
    <h2>show</h2>
<?php
$item = $block->getInternshipById();
echo "<pre>";
print_r($item->getData());
echo "</pre>";
